1. What are data structures, and why are they important

ans-Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. They are crucial for creating effective programs because they allow for optimized storage, retrieval, and manipulation of information. Different data structures are suited for different tasks, making it important to understand them for building well-performing software

2. Explain the difference between mutable and immutable data types with examples

ans-mutable data types can be modified after creation, while immutable data types cannot be changed once they are created

3.What are the main differences between lists and tuples in Python

ans-The main differences between lists and tuples in Python are centered around their mutability and implications for performance and use cases:
Mutability: This is the most significant difference. Lists are mutable, meaning their elements can be changed (added, removed, or modified) after creation. Tuples are immutable, meaning their elements cannot be altered once the tuple is created.Performance:
Due to their immutability, tuples are generally more memory-efficient and can offer slightly faster iteration and access compared to lists. This is because Python can optimize operations on fixed-size, unchangeable data.

4.Describe how dictionaries store data

ans-Python dictionaries store data as an unordered collection of unique key-value pairs. This data structure is implemented using hash tables, which enable efficient retrieval, insertion, and deletion of elements.

5.Why might you use a set instead of a list in Python

ans-You might use a Python set instead of a list in the following scenarios:
Ensuring Uniqueness:
Sets automatically store only unique elements, eliminating duplicates. If your data naturally requires that each item appears only once, a set is the appropriate choice. Lists, conversely, allow duplicate values.
Fast Membership Testing:
Sets are optimized for checking if an element exists within the collection (e.g., using the in operator). This operation is significantly faster for sets, especially with large collections, due to their underlying hash-based implementation. Lists require a linear search, which becomes slower as the list grows.
Performing Mathematical Set Operations:
Sets provide built-in methods for common mathematical set operations like union, intersection, difference, and symmetric difference. If you need to perform these types of operations on your data, sets offer a convenient and efficient way to do so.

6.What is a string in Python, and how is it different from a list

ans-A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.

7.How do tuples ensure data integrity in Python

ans-

Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets

8.What is a hash table, and how does it relate to dictionaries in Python

ans-A hash table is a data structure that stores key-value pairs, allowing for efficient retrieval of values based on their associated keys. It achieves this by using a hash function, which takes a key as input and computes an index (or hash code) into an array of "buckets" or "slots." The value corresponding to the key is then stored in or retrieved from that specific bucket.

9.Can lists contain different data types in Python

ans-Yes, lists in Python can contain different data types. This is a key feature of Python lists

10.Explain why strings are immutable in Python

ans-Strings are immutable in Python, meaning their content cannot be changed after they are created. Any operation that appears to modify a string, such as concatenation or replacement, actually results in the creation of a new string object in memory, while the original string remains unchanged. The variable then refers to this new string.
Several reasons contribute to this design choice

Performance Optimization
Security and Data Integrity
Thread Safety
Hashing and Dictionary Keys
Predictability and Reduced Bugs

11. What advantages do dictionaries offer over lists for certain tasks

ans-Advantages of using Dictionary Data Structure in Python:
Fast access: Dictionaries provide fast access to values based on their keys. This is because they use a hash table to store their key-value pairs, which allows for constant-time lookups

12.Describe a scenario where using a tuple would be preferable over a list

ans-A scenario where using a tuple would be preferable over a list in Python is when representing fixed, unchangeable data where the order and meaning of elements are inherently linked, and immutability is a desired characteristic.
Consider storing geographical coordinates, such as latitude and longitude, for a specific point.
Python

# Using a tuple for coordinates
coordinates = (34.0522, -118.2437)
In this case:
Immutability:
The latitude and longitude of a fixed point should not change. Using a tuple ensures that these values cannot be accidentally modified during program execution, preventing data corruption.
Data Representation:
The two elements, latitude and longitude, are intrinsically linked and represent a single concept (a coordinate). A tuple naturally groups these related values together.
Performance:
For fixed data, tuples can offer a slight performance advantage over lists in certain operations like iteration and indexing due to their immutable nature.
Use as Dictionary Keys/Set Elements:
If these coordinates needed to be used as keys in a dictionary or elements in a set, tuples are suitable because they are hashable (due to immutability), whereas lists are not.

13.P How do sets handle duplicate values in Python

ans-Python sets fundamentally do not allow duplicate values. This is a core characteristic of the set data type, mirroring the mathematical definition of a set.
When duplicate elements are added to a set, either during its creation or through methods like add(), the set automatically handles them by only storing a single instance of each unique element. Any subsequent attempts to add an already existing element will have no effect on the set's contents; the duplicate element is simply ignored.

14. How does the “in” keyword work differently for lists and dictionarie

ans-the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list

15.Can you modify the elements of a tuple? Explain why or why not

ans-No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. This immutability is a core characteristic of tuples.

16. What is a nested dictionary, and give an example of its use case


In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value.

17.Describe the time complexity of accessing elements in a dictionary

ans-Accessing elements in a dictionary (also known as a hash map or associative array) typically has a time complexity of O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries use a hash table internally to store and retrieve data, and hash table lookups are generally very fast.

18.In what situations are lists preferred over dictionaries

ans-For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable

19.Why are dictionaries considered unordered, and how does that affect data retrieval

ans-A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added

20. Explain the difference between a list and a dictionary in terms of data retrieva

ans- Lists retrieve elements based on their numerical index (position), while dictionaries retrieve elements based on their unique keys

In [4]:
#1.Write a code to create a string with your name and print it

my_nam = "Prabhanshu"
print(my_nam)

Prabhanshu

In [5]:
from typing import AnyStr
#2.Write a code to find the length of the string "Hello World"

text = "Hello World"
print(len(text))

11

In [6]:
#3.Write a code to slice the first 3 characters from the string "Python Programming

text = "Python Programming"
print(text[0:3])

Pyt

In [13]:
#4.Write a code to convert the string "hello" to uppercase

original_string = "hello"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO

In [20]:
# 5. P Write a code to replace the word "apple" with "orange" in the string "I like apple

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [21]:
#6. Write a code to create a list with numbers 1 to 5 and print it

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [22]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [23]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [24]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [25]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [26]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [27]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [28]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [29]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animails = ('dog', 'cat', 'rabbit')
print(animails.index('cat'))

1

In [30]:
#15.. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [31]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [32]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [33]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [34]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [35]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [36]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [37]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [39]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#25.. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [43]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "John", "age": 25, "city": "New York"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [47]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result

random_numbers = random.randint(1, 100), 5)
random_numbers.sort()
print(Sorted Random Numbers:", random_numbers)

SyntaxError: unmatched ')' (ipython-input-47-1110382099.py, line 4)

In [48]:
#28.Write a code to create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [49]:
#29.Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [50]:
#30. Write a code to convert a list of strings into a set

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'elderberry', 'cherry', 'banana', 'date', 'apple'}